<%= form_with(model: share) do |form| %>
  <% if share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
        <% share.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :ticker_symbol %>
    <%= form.text_field :ticker_symbol %>
  </div>

  <div class="field">
    <%= form.label :open_price %>
    <%= form.text_field :open_price %>
  </div>

  <div class="field">
    <%= form.label :closed_price %>
    <%= form.text_field :closed_price %>
  </div>

  <div class="field">
    <%= form.label :beta %>
    <%= form.text_field :beta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
