<p id="notice"><%= notice %></p>

<h1>Shares</h1>
<%= link_to 'Stock Market Open', shares_start_path%>

<%= turbo_stream_from 'shares'%>

<%= turbo_frame_tag 'shares' do%>
  <%= render @shares%>
<% end %>


<br>

<%= link_to 'New Share', new_share_path %>
