<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @share.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @share.price %>
</p>

<p>
  <strong>Ticker symbol:</strong>
  <%= @share.ticker_symbol %>
</p>

<p>
  <strong>Open price:</strong>
  <%= @share.open_price %>
</p>

<p>
  <strong>Closed price:</strong>
  <%= @share.closed_price %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @share.beta %>
</p>

<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to 'Back', shares_path %>
