
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Hotwire Miniatures', root_path, class:"navbar-brand" %>
  <button class="navbar-toggler dropdown-toggle-split" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="ml-auto navbar-nav align-items-center">
        <li class="nav-item ml-auto">
          <%= link_to 'Tweet App', tweets_path, class:'nav-link' %>
        </li>
        <li class="nav-item ml-auto">
          <%= link_to 'Mini Stock Market App', shares_path, class:'nav-link' %>
        </li>
        <li class="nav-item ml-auto">
          <%= link_to 'Mini E-commerce App', items_path, class:'nav-link' %>
        </li>
        <li class="nav-item ml-auto">
          <%= link_to 'Mini Library App', books_path, class:'nav-link' %>
        </li>
        <li class="nav-item ml-auto">
          <%= link_to 'Infinite Post Scrolling', post_path(1), class:'nav-link' %>
        </li>
    </ul>
  </div>
</nav>
