
<div class="container auto-grid">
  <%= link_to 'Mini stock market app', shares_path%>
  <%= link_to 'Mini ecommerce app', items_path%>
  <%= link_to 'Mini tweet app', tweets_path%>
  <%= link_to 'Mini todo app', todos_path%>
  <%= link_to 'Mini Library app', books_path%>
  <%= link_to 'Infinite Scrolling Post app', posts_path%>
  <%= link_to 'Stimulus Pattern Recognition', stimulus_index_path%>
</div>
