<p id="notice"><%= notice %></p>

<h1>Library</h1>
<div data-controller="book-infinite-scroll" data-action="scroll@window->book-infinite-scroll#scroll">

  <%= turbo_stream_from 'books'%>

  <%= turbo_frame_tag 'books' do %>
    <div class="auto-grid" data-book-infinite-scroll-target="entries">
      <%= render @books%>
    </div>
    <div data-book-infinite-scroll-target="pagination">
        <%==  pagy_bootstrap_nav(@pagy)%>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Book', new_book_path %>
